.toolbar-nav {
    background: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 2rem;

    // temporarily putting in until a logo is made
    p {
        margin: 0;
    }
    
    .App-logo {
        cursor: pointer;
        text-align: center;
        height: 25vmin;
        pointer-events: none;
        text-decoration: none;
    }      

    .spacer {
        flex: 1;
    }

    ul>li {
      cursor: pointer;
      text-decoration: none;
      display: inline;
      
      a {
        color: #4B1421;
        margin: 1rem 0;
        font-size: 1.2rem;
        line-height: 1;
        text-decoration: none;
        padding: 1.2rem;
  
        &:hover, &:focus, &:active {
          background: #4B1421;
          outline: none;
          color: #ffffff;
        }
      }
    }
}

@media (max-width: 768px) {
  .toolbar-nav {
    margin-left: 1rem;
  }

    .toolbar-nav-items {
        display: none;
    }
}