.toolbar-nav {
    background: #B56357;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    h3 {
      cursor: pointer;
      margin-left: 2rem;
      
      a {
        text-decoration: none;
      }
    }
    
    .spacer {
        flex: 1;
    }

    ul>li {
      cursor: pointer;
      text-decoration: none;
      display: inline;
      
      a {
        color: #EAEAEA;
        margin: 1rem 0;
        line-height: 1;
        text-decoration: none;
        padding: 1.2rem;
  
        &:hover, &:focus, &:active {
          background: #b56357;
          outline: none;
          color: #ffffff;
        }
      }
    }
}

@media (max-width: 768px) {
    .toolbar-nav-items {
        display: none;
    }
}