nav {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  h3 {
    cursor: pointer;
    margin-left: 3rem;
    // padding: 1rem;
    // line-height: 1.2;
    // margin: 0;
    
    a {
      text-decoration: none;
    }
  }
  
  ul>li {
    cursor: pointer;
    text-decoration: none;
    display: inline;
    
    a {
      color: #b56357;
      margin: 1rem 0;
      line-height: 1;
      text-decoration: none;
      padding: 1.2rem;

      &:hover, &:focus, &:active {
        background: #b56357;
        outline: none;
        color: #ffffff;
      }
    }
  }

}

.App-logo {
  text-align: center;
  // animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
}

.main-body-content {
  // background-color: #cecece;
  
  .content-text {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
    background: rgba(100, 100, 100, 0.6);
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.aboutDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100vh;
  background: url(http://loremflickr.com/g/1200/500/boat) no-repeat;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.cell {
  width: 33.3333%;
  margin-right: 1rem;
  margin-left: 1rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  form {
    width: 320px;
    border: 1px solid #606060;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }
}

// .inactive {
//   background: #0b3c5d;
// }

// .is-active {
//   background: #328cc1;
// }