.hero-image {
  display: flex;
  min-height: 100vh;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: rgba(100, 100, 100, 0.7);

  h2 {
    max-width: 600px;
    text-align: center;
  }
}

.red-back {
  background-color: #4B1421;
  padding: 4rem;

  .cell {
    color: #ffffff;
  } 
}

.aboutDisplay {
  min-height: 100vh;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.cell {
  margin-right: 1rem;
  margin-left: 1rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  form {
    width: 320px;
    border: 1px solid #606060;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;

    button {
      margin: 1rem 0
    }
  }
}

@media (max-width: 768px) {
  .content-text {
    padding-top: 1em;
  }
}

@media (min-width: 769px) {
  .hero-image, .what-we-do {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .cell {
    width: 33.3333%;
  }
}
